/.idea/libraries/OrgRosAndroid_coreAndroid_gingerbread_mr1010_aar.xml
/.idea/libraries/actionlib_msgs_1_10_2.xml
/.idea/libraries/apache_xmlrpc_client_0_1_3.xml
/.idea/libraries/apache_xmlrpc_common_0_1_3.xml
/.idea/libraries/apache_xmlrpc_server_0_1_3.xml
/.idea/libraries/com_springsource_org_apache_commons_codec_1_3_0.xml
/.idea/libraries/com_springsource_org_apache_commons_httpclient_3_1_0.xml
/.idea/libraries/com_springsource_org_apache_commons_io_1_4_0.xml
/.idea/libraries/com_springsource_org_apache_commons_lang_2_4_0.xml
/.idea/libraries/com_springsource_org_apache_commons_logging_1_1_1.xml
/.idea/libraries/com_springsource_org_apache_commons_net_2_0_0.xml
/.idea/libraries/commons_pool_1_6.xml
/.idea/libraries/dnsjava_2_1_1.xml
/.idea/libraries/geometry_msgs_1_10_2.xml
/.idea/libraries/gradle_plugins_0_1_7.xml
/.idea/libraries/guava_12_0.xml
/.idea/libraries/jsr305_1_3_9.xml
/.idea/libraries/junit_3_8_2.xml
/.idea/libraries/message_generation_0_1_7.xml
/.idea/libraries/nav_msgs_1_10_2.xml
/.idea/libraries/netty_3_5_2_Final.xml
/.idea/libraries/rosgraph_msgs_1_9_50.xml
/.idea/libraries/rosjava_0_1_3.xml
/.idea/libraries/rosjava_test_msgs_0_1_26.xml
/.idea/libraries/sensor_msgs_1_10_2.xml
/.idea/libraries/std_msgs_0_5_8.xml
/.idea/libraries/tf2_msgs_0_4_7.xml
/.idea/libraries/ws_commons_util_1_0_1.xml
/autopilot_driver_ros/build/bundles/debug/AndroidManifest.xml
/autopilot_driver_ros/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_communication_serial010.aar/AndroidManifest.xml
/autopilot_driver_ros/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_communication_serial010.aar/R.txt
/autopilot_driver_ros/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_communication_serial010.aar/classes.jar
/autopilot_driver_ros/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_communication_serial010.aar/res/layout/main.xml
/autopilot_driver_ros/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_communication_serial010.aar/res/values/values.xml
/autopilot_driver_ros/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_driver010.aar/AndroidManifest.xml
/autopilot_driver_ros/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_driver010.aar/R.txt
/autopilot_driver_ros/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_driver010.aar/classes.jar
/autopilot_driver_ros/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_driver010.aar/res/layout/main.xml
/autopilot_driver_ros/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_driver010.aar/res/values/values.xml
/autopilot_driver_ros/build/exploded-bundles/OrgRosAndroid_coreAndroid_gingerbread_mr1010.aar/AndroidManifest.xml
/autopilot_driver_ros/build/exploded-bundles/OrgRosAndroid_coreAndroid_gingerbread_mr1010.aar/R.txt
/autopilot_driver_ros/build/exploded-bundles/OrgRosAndroid_coreAndroid_gingerbread_mr1010.aar/classes.jar
/autopilot_driver_ros/build/exploded-bundles/OrgRosAndroid_coreAndroid_gingerbread_mr1010.aar/res/drawable-hdpi/icon.png
/autopilot_driver_ros/build/exploded-bundles/OrgRosAndroid_coreAndroid_gingerbread_mr1010.aar/res/drawable-ldpi/icon.png
/autopilot_driver_ros/build/exploded-bundles/OrgRosAndroid_coreAndroid_gingerbread_mr1010.aar/res/drawable-mdpi/icon.png
/autopilot_driver_ros/build/exploded-bundles/OrgRosAndroid_coreAndroid_gingerbread_mr1010.aar/res/layout/master_chooser.xml
/autopilot_driver_ros/build/exploded-bundles/OrgRosAndroid_coreAndroid_gingerbread_mr1010.aar/res/values/values.xml
/autopilot_driver_ros/build/incremental/aidl/debug/dependency.store
/autopilot_driver_ros/build/incremental/aidl/debug/inputs.data
/autopilot_driver_ros/build/incremental/aidl/debug/outputs.data
/autopilot_driver_ros/build/incremental/mergeAssets/debug/inputs.data
/autopilot_driver_ros/build/incremental/mergeAssets/debug/merger.xml
/autopilot_driver_ros/build/incremental/mergeAssets/debug/outputs.data
/autopilot_driver_ros/build/incremental/mergeResources/debug/inputs.data
/autopilot_driver_ros/build/incremental/mergeResources/debug/merger.xml
/autopilot_driver_ros/build/incremental/mergeResources/debug/outputs.data
/autopilot_driver_ros/build/res/all/debug/drawable-hdpi/icon.png
/autopilot_driver_ros/build/res/all/debug/drawable-ldpi/icon.png
/autopilot_driver_ros/build/res/all/debug/drawable-mdpi/icon.png
/autopilot_driver_ros/build/res/all/debug/layout/main.xml
/autopilot_driver_ros/build/res/all/debug/layout/master_chooser.xml
/autopilot_driver_ros/build/res/all/debug/values/values.xml
/autopilot_driver_ros/build/source/buildConfig/debug/asctec/android/driver/ros/BuildConfig.java
/autopilot_test_gui/build/source/r/release/asctec/android/communication/serial/R.java
/autopilot_test_gui/build/source/r/release/autopilot/driver/R.java
/autopilot_test_gui/build/symbols/release/R.txt
/autopilot_ultrasound/.idea/.name
/autopilot_ultrasound/.idea/compiler.xml
/autopilot_ultrasound/.idea/copyright/profiles_settings.xml
/autopilot_ultrasound/.idea/encodings.xml
/autopilot_ultrasound/.idea/gradle.xml
/autopilot_ultrasound/.idea/misc.xml
/autopilot_ultrasound/.idea/modules.xml
/autopilot_ultrasound/.idea/scopes/scope_settings.xml
/autopilot_ultrasound/.idea/vcs.xml
/autopilot_ultrasound/.idea/workspace.xml
/autopilot_ultrasound/build/bundles/debug/AndroidManifest.xml
/autopilot_ultrasound/build/bundles/debug/R.txt
/autopilot_ultrasound/build/bundles/debug/classes.jar
/autopilot_ultrasound/build/bundles/debug/res/layout/main.xml
/autopilot_ultrasound/build/bundles/debug/res/values/values.xml
/autopilot_ultrasound/build/bundles/release/AndroidManifest.xml
/autopilot_ultrasound/build/bundles/release/R.txt
/autopilot_ultrasound/build/bundles/release/classes.jar
/autopilot_ultrasound/build/bundles/release/res/layout/main.xml
/autopilot_ultrasound/build/bundles/release/res/values/values.xml
/autopilot_ultrasound/build/incremental/aidl/debug/dependency.store
/autopilot_ultrasound/build/incremental/aidl/debug/inputs.data
/autopilot_ultrasound/build/incremental/aidl/debug/outputs.data
/autopilot_ultrasound/build/incremental/aidl/release/dependency.store
/autopilot_ultrasound/build/incremental/aidl/release/inputs.data
/autopilot_ultrasound/build/incremental/aidl/release/outputs.data
/autopilot_ultrasound/build/incremental/aidl/test/dependency.store
/autopilot_ultrasound/build/incremental/aidl/test/inputs.data
/autopilot_ultrasound/build/incremental/aidl/test/outputs.data
/autopilot_ultrasound/build/incremental/dex/test/inputs.data
/autopilot_ultrasound/build/incremental/dex/test/outputs.data
/autopilot_ultrasound/build/incremental/mergeAssets/debug/inputs.data
/autopilot_ultrasound/build/incremental/mergeAssets/debug/merger.xml
/autopilot_ultrasound/build/incremental/mergeAssets/debug/outputs.data
/autopilot_ultrasound/build/incremental/mergeAssets/release/inputs.data
/autopilot_ultrasound/build/incremental/mergeAssets/release/merger.xml
/autopilot_ultrasound/build/incremental/mergeAssets/release/outputs.data
/autopilot_ultrasound/build/incremental/mergeAssets/test/inputs.data
/autopilot_ultrasound/build/incremental/mergeAssets/test/merger.xml
/autopilot_ultrasound/build/incremental/mergeAssets/test/outputs.data
/autopilot_ultrasound/build/incremental/mergeResources/debug/inputs.data
/autopilot_ultrasound/build/incremental/mergeResources/debug/merger.xml
/autopilot_ultrasound/build/incremental/mergeResources/debug/outputs.data
/autopilot_ultrasound/build/incremental/mergeResources/release/inputs.data
/autopilot_ultrasound/build/incremental/mergeResources/release/merger.xml
/autopilot_ultrasound/build/incremental/mergeResources/release/outputs.data
/autopilot_ultrasound/build/incremental/mergeResources/test/inputs.data
/autopilot_ultrasound/build/incremental/mergeResources/test/merger.xml
/autopilot_ultrasound/build/incremental/mergeResources/test/outputs.data
/autopilot_ultrasound/build/incremental/packageResources/debug/inputs.data
/autopilot_ultrasound/build/incremental/packageResources/debug/merger.xml
/autopilot_ultrasound/build/incremental/packageResources/debug/outputs.data
/autopilot_ultrasound/build/incremental/packageResources/release/inputs.data
/autopilot_ultrasound/build/incremental/packageResources/release/merger.xml
/autopilot_ultrasound/build/incremental/packageResources/release/outputs.data
/autopilot_ultrasound/build/ivy.xml
/autopilot_ultrasound/build/libs/autopilot_ultrasound-0.1.0-debug.aar
/autopilot_ultrasound/build/libs/autopilot_ultrasound-0.1.0.aar
/autopilot_ultrasound/build/manifests/test/AndroidManifest.xml
/autopilot_ultrasound/build/poms/pom-default.xml
/autopilot_ultrasound/build/res/all/debug/layout/main.xml
/autopilot_ultrasound/build/res/all/debug/values/values.xml
/autopilot_ultrasound/build/res/all/release/layout/main.xml
/autopilot_ultrasound/build/res/all/release/values/values.xml
/autopilot_ultrasound/build/res/all/test/layout/main.xml
/autopilot_ultrasound/build/res/all/test/values/values.xml
/autopilot_ultrasound/build/source/buildConfig/debug/asctec/android/ultrasound/BuildConfig.java
/autopilot_ultrasound/build/source/buildConfig/release/asctec/android/ultrasound/BuildConfig.java
/autopilot_ultrasound/build/source/buildConfig/test/asctec/android/ultrasound/test/BuildConfig.java
/autopilot_ultrasound/build/source/r/debug/asctec/android/ultrasound/R.java
/autopilot_ultrasound/build/source/r/release/asctec/android/ultrasound/R.java
/autopilot_ultrasound/build/source/r/test/asctec/android/ultrasound/R.java
/autopilot_ultrasound/build/source/r/test/asctec/android/ultrasound/test/R.java
/autopilot_ultrasound/build/symbols/test/R.txt
/autopilot_ultrasound/build/tmp/packageDebugJar/MANIFEST.MF
/autopilot_ultrasound/build/tmp/packageReleaseJar/MANIFEST.MF
/autopilot_communication_serial/build/bundles/debug/AndroidManifest.xml
/autopilot_communication_serial/build/bundles/debug/R.txt
/autopilot_communication_serial/build/bundles/debug/classes.jar
/autopilot_communication_serial/build/bundles/debug/res/layout/main.xml
/autopilot_communication_serial/build/bundles/debug/res/values/values.xml
/autopilot_communication_serial/build/bundles/release/AndroidManifest.xml
/autopilot_communication_serial/build/bundles/release/R.txt
/autopilot_communication_serial/build/bundles/release/classes.jar
/autopilot_communication_serial/build/bundles/release/res/layout/main.xml
/autopilot_communication_serial/build/bundles/release/res/values/values.xml
/autopilot_communication_serial/build/incremental/aidl/debug/dependency.store
/autopilot_communication_serial/build/incremental/aidl/debug/inputs.data
/autopilot_communication_serial/build/incremental/aidl/debug/outputs.data
/autopilot_communication_serial/build/incremental/aidl/release/dependency.store
/autopilot_communication_serial/build/incremental/aidl/release/inputs.data
/autopilot_communication_serial/build/incremental/aidl/release/outputs.data
/autopilot_communication_serial/build/incremental/aidl/test/dependency.store
/autopilot_communication_serial/build/incremental/aidl/test/inputs.data
/autopilot_communication_serial/build/incremental/aidl/test/outputs.data
/autopilot_communication_serial/build/incremental/dex/test/inputs.data
/autopilot_communication_serial/build/incremental/dex/test/outputs.data
/autopilot_communication_serial/build/incremental/mergeAssets/debug/inputs.data
/autopilot_communication_serial/build/incremental/mergeAssets/debug/merger.xml
/autopilot_communication_serial/build/incremental/mergeAssets/debug/outputs.data
/autopilot_communication_serial/build/incremental/mergeAssets/release/inputs.data
/autopilot_communication_serial/build/incremental/mergeAssets/release/merger.xml
/autopilot_communication_serial/build/incremental/mergeAssets/release/outputs.data
/autopilot_communication_serial/build/incremental/mergeAssets/test/inputs.data
/autopilot_communication_serial/build/incremental/mergeAssets/test/merger.xml
/autopilot_communication_serial/build/incremental/mergeAssets/test/outputs.data
/autopilot_communication_serial/build/incremental/mergeResources/debug/inputs.data
/autopilot_communication_serial/build/incremental/mergeResources/debug/merger.xml
/autopilot_communication_serial/build/incremental/mergeResources/debug/outputs.data
/autopilot_communication_serial/build/incremental/mergeResources/release/inputs.data
/autopilot_communication_serial/build/incremental/mergeResources/release/merger.xml
/autopilot_communication_serial/build/incremental/mergeResources/release/outputs.data
/autopilot_communication_serial/build/incremental/mergeResources/test/inputs.data
/autopilot_communication_serial/build/incremental/mergeResources/test/merger.xml
/autopilot_communication_serial/build/incremental/mergeResources/test/outputs.data
/autopilot_communication_serial/build/incremental/packageResources/debug/inputs.data
/autopilot_communication_serial/build/incremental/packageResources/debug/merger.xml
/autopilot_communication_serial/build/incremental/packageResources/debug/outputs.data
/autopilot_communication_serial/build/incremental/packageResources/release/inputs.data
/autopilot_communication_serial/build/incremental/packageResources/release/merger.xml
/autopilot_communication_serial/build/incremental/packageResources/release/outputs.data
/autopilot_communication_serial/build/ivy.xml
/autopilot_communication_serial/build/libs/autopilot_communication_serial-0.1.0-debug.aar
/autopilot_communication_serial/build/libs/autopilot_communication_serial-0.1.0.aar
/autopilot_communication_serial/build/manifests/test/AndroidManifest.xml
/autopilot_communication_serial/build/poms/pom-default.xml
/autopilot_communication_serial/build/res/all/debug/layout/main.xml
/autopilot_communication_serial/build/res/all/debug/values/values.xml
/autopilot_communication_serial/build/res/all/release/layout/main.xml
/autopilot_communication_serial/build/res/all/release/values/values.xml
/autopilot_communication_serial/build/res/all/test/layout/main.xml
/autopilot_communication_serial/build/res/all/test/values/values.xml
/autopilot_communication_serial/build/source/buildConfig/debug/asctec/android/communication/serial/BuildConfig.java
/autopilot_communication_serial/build/source/buildConfig/release/asctec/android/communication/serial/BuildConfig.java
/autopilot_communication_serial/build/source/buildConfig/test/asctec/android/communication/serial/test/BuildConfig.java
/autopilot_communication_serial/build/source/r/debug/asctec/android/communication/serial/R.java
/autopilot_communication_serial/build/source/r/release/asctec/android/communication/serial/R.java
/autopilot_communication_serial/build/source/r/test/asctec/android/communication/serial/R.java
/autopilot_communication_serial/build/source/r/test/asctec/android/communication/serial/test/R.java
/autopilot_communication_serial/build/symbols/test/R.txt
/autopilot_communication_serial/build/tmp/packageDebugJar/MANIFEST.MF
/autopilot_communication_serial/build/tmp/packageReleaseJar/MANIFEST.MF
/autopilot_driver/build.gradle~
/autopilot_driver/build/bundles/debug/AndroidManifest.xml
/autopilot_driver/build/bundles/debug/R.txt
/autopilot_driver/build/bundles/debug/classes.jar
/autopilot_driver/build/bundles/debug/res/layout/main.xml
/autopilot_driver/build/bundles/debug/res/values/values.xml
/autopilot_driver/build/bundles/release/AndroidManifest.xml
/autopilot_driver/build/bundles/release/R.txt
/autopilot_driver/build/bundles/release/classes.jar
/autopilot_driver/build/bundles/release/res/layout/main.xml
/autopilot_driver/build/bundles/release/res/values/values.xml
/autopilot_driver/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_communication_serial010.aar/AndroidManifest.xml
/autopilot_driver/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_communication_serial010.aar/R.txt
/autopilot_driver/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_communication_serial010.aar/classes.jar
/autopilot_driver/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_communication_serial010.aar/res/layout/main.xml
/autopilot_driver/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_communication_serial010.aar/res/values/values.xml
/autopilot_driver/build/incremental/aidl/debug/dependency.store
/autopilot_driver/build/incremental/aidl/debug/inputs.data
/autopilot_driver/build/incremental/aidl/debug/outputs.data
/autopilot_driver/build/incremental/aidl/release/dependency.store
/autopilot_driver/build/incremental/aidl/release/inputs.data
/autopilot_driver/build/incremental/aidl/release/outputs.data
/autopilot_driver/build/incremental/aidl/test/dependency.store
/autopilot_driver/build/incremental/aidl/test/inputs.data
/autopilot_driver/build/incremental/aidl/test/outputs.data
/autopilot_driver/build/incremental/dex/test/inputs.data
/autopilot_driver/build/incremental/dex/test/outputs.data
/autopilot_driver/build/incremental/mergeAssets/debug/inputs.data
/autopilot_driver/build/incremental/mergeAssets/debug/merger.xml
/autopilot_driver/build/incremental/mergeAssets/debug/outputs.data
/autopilot_driver/build/incremental/mergeAssets/release/inputs.data
/autopilot_driver/build/incremental/mergeAssets/release/merger.xml
/autopilot_driver/build/incremental/mergeAssets/release/outputs.data
/autopilot_driver/build/incremental/mergeAssets/test/inputs.data
/autopilot_driver/build/incremental/mergeAssets/test/merger.xml
/autopilot_driver/build/incremental/mergeAssets/test/outputs.data
/autopilot_driver/build/incremental/mergeResources/debug/inputs.data
/autopilot_driver/build/incremental/mergeResources/debug/merger.xml
/autopilot_driver/build/incremental/mergeResources/debug/outputs.data
/autopilot_driver/build/incremental/mergeResources/release/inputs.data
/autopilot_driver/build/incremental/mergeResources/release/merger.xml
/autopilot_driver/build/incremental/mergeResources/release/outputs.data
/autopilot_driver/build/incremental/mergeResources/test/inputs.data
/autopilot_driver/build/incremental/mergeResources/test/merger.xml
/autopilot_driver/build/incremental/mergeResources/test/outputs.data
/autopilot_driver/build/incremental/packageResources/debug/inputs.data
/autopilot_driver/build/incremental/packageResources/debug/merger.xml
/autopilot_driver/build/incremental/packageResources/debug/outputs.data
/autopilot_driver/build/incremental/packageResources/release/inputs.data
/autopilot_driver/build/incremental/packageResources/release/merger.xml
/autopilot_driver/build/incremental/packageResources/release/outputs.data
/autopilot_driver/build/ivy.xml
/autopilot_driver/build/libs/autopilot_driver-0.1.0-debug.aar
/autopilot_driver/build/libs/autopilot_driver-0.1.0.aar
/autopilot_driver/build/manifests/test/AndroidManifest.xml
/autopilot_driver/build/poms/pom-default.xml
/autopilot_driver/build/res/all/debug/layout/main.xml
/autopilot_driver/build/res/all/debug/values/values.xml
/autopilot_driver/build/res/all/release/layout/main.xml
/autopilot_driver/build/res/all/release/values/values.xml
/autopilot_driver/build/res/all/test/layout/main.xml
/autopilot_driver/build/res/all/test/values/values.xml
/autopilot_driver/build/source/buildConfig/debug/autopilot/driver/BuildConfig.java
/autopilot_driver/build/source/buildConfig/release/autopilot/driver/BuildConfig.java
/autopilot_driver/build/source/buildConfig/test/autopilot/driver/test/BuildConfig.java
/autopilot_driver/build/source/r/debug/autopilot/driver/R.java
/autopilot_driver/build/source/r/release/autopilot/driver/R.java
/autopilot_driver/build/source/r/test/asctec/android/communication/serial/R.java
/autopilot_driver/build/source/r/test/autopilot/driver/R.java
/autopilot_driver/build/source/r/test/autopilot/driver/test/R.java
/autopilot_driver/build/symbols/test/R.txt
/autopilot_driver/build/tmp/packageDebugJar/MANIFEST.MF
/autopilot_driver/build/tmp/packageReleaseJar/MANIFEST.MF
/autopilot_publisher/build/incremental/aidl/debug/dependency.store
/autopilot_publisher/build/incremental/aidl/debug/inputs.data
/autopilot_publisher/build/incremental/aidl/debug/outputs.data
/autopilot_publisher/build/incremental/aidl/release/dependency.store
/autopilot_publisher/build/incremental/aidl/release/inputs.data
/autopilot_publisher/build/incremental/aidl/release/outputs.data
/autopilot_publisher/build/incremental/dex/debug/inputs.data
/autopilot_publisher/build/incremental/dex/debug/outputs.data
/autopilot_publisher/build/incremental/dex/release/inputs.data
/autopilot_publisher/build/incremental/dex/release/outputs.data
/autopilot_publisher/build/incremental/mergeAssets/debug/inputs.data
/autopilot_publisher/build/incremental/mergeAssets/debug/merger.xml
/autopilot_publisher/build/incremental/mergeAssets/debug/outputs.data
/autopilot_publisher/build/incremental/mergeAssets/release/inputs.data
/autopilot_publisher/build/incremental/mergeAssets/release/merger.xml
/autopilot_publisher/build/incremental/mergeAssets/release/outputs.data
/autopilot_publisher/build/incremental/mergeResources/debug/inputs.data
/autopilot_publisher/build/incremental/mergeResources/debug/merger.xml
/autopilot_publisher/build/incremental/mergeResources/debug/outputs.data
/autopilot_publisher/build/incremental/mergeResources/release/inputs.data
/autopilot_publisher/build/incremental/mergeResources/release/merger.xml
/autopilot_publisher/build/incremental/mergeResources/release/outputs.data
/autopilot_publisher/build/ivy.xml
/autopilot_publisher/build/manifests/debug/AndroidManifest.xml
/autopilot_publisher/build/manifests/release/AndroidManifest.xml
/autopilot_publisher/build/res/all/debug/layout/main.xml
/autopilot_publisher/build/res/all/debug/values/values.xml
/autopilot_publisher/build/res/all/release/layout/main.xml
/autopilot_publisher/build/res/all/release/values/values.xml
/autopilot_publisher/build/source/buildConfig/debug/asctec/android/driver/ros/BuildConfig.java
/autopilot_publisher/build/source/buildConfig/release/asctec/android/driver/ros/BuildConfig.java
/autopilot_publisher/build/source/r/debug/asctec/android/driver/ros/R.java
/autopilot_publisher/build/source/r/release/asctec/android/driver/ros/R.java
/autopilot_test_gui/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_communication_serial010.aar/AndroidManifest.xml
/autopilot_test_gui/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_communication_serial010.aar/R.txt
/autopilot_test_gui/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_communication_serial010.aar/classes.jar
/autopilot_test_gui/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_communication_serial010.aar/res/layout/main.xml
/autopilot_test_gui/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_communication_serial010.aar/res/values/values.xml
/autopilot_test_gui/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_driver010.aar/AndroidManifest.xml
/autopilot_test_gui/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_driver010.aar/R.txt
/autopilot_test_gui/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_driver010.aar/classes.jar
/autopilot_test_gui/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_driver010.aar/res/layout/main.xml
/autopilot_test_gui/build/exploded-bundles/ComGithubRosjavaAsctec_ros_androidAutopilot_driver010.aar/res/values/values.xml
/autopilot_test_gui/build/incremental/aidl/debug/dependency.store
/autopilot_test_gui/build/incremental/aidl/debug/inputs.data
/autopilot_test_gui/build/incremental/aidl/debug/outputs.data
/autopilot_test_gui/build/incremental/aidl/release/dependency.store
/autopilot_test_gui/build/incremental/aidl/release/inputs.data
/autopilot_test_gui/build/incremental/aidl/release/outputs.data
/autopilot_test_gui/build/incremental/dex/debug/inputs.data
/autopilot_test_gui/build/incremental/dex/debug/outputs.data
/autopilot_test_gui/build/incremental/dex/release/inputs.data
/autopilot_test_gui/build/incremental/dex/release/outputs.data
/autopilot_test_gui/build/incremental/mergeAssets/debug/inputs.data
/autopilot_test_gui/build/incremental/mergeAssets/debug/merger.xml
/autopilot_test_gui/build/incremental/mergeAssets/debug/outputs.data
/autopilot_test_gui/build/incremental/mergeAssets/release/inputs.data
/autopilot_test_gui/build/incremental/mergeAssets/release/merger.xml
/autopilot_test_gui/build/incremental/mergeAssets/release/outputs.data
/autopilot_test_gui/build/incremental/mergeResources/debug/inputs.data
/autopilot_test_gui/build/incremental/mergeResources/debug/merger.xml
/autopilot_test_gui/build/incremental/mergeResources/debug/outputs.data
/autopilot_test_gui/build/incremental/mergeResources/release/inputs.data
/autopilot_test_gui/build/incremental/mergeResources/release/merger.xml
/autopilot_test_gui/build/incremental/mergeResources/release/outputs.data
/autopilot_test_gui/build/ivy.xml
/autopilot_test_gui/build/manifests/debug/AndroidManifest.xml
/autopilot_test_gui/build/manifests/release/AndroidManifest.xml
/autopilot_test_gui/build/res/all/debug/drawable-hdpi/ic_launcher.png
/autopilot_test_gui/build/res/all/debug/drawable-mdpi/ic_launcher.png
/autopilot_test_gui/build/res/all/debug/drawable-xhdpi/ic_launcher.png
/autopilot_test_gui/build/res/all/debug/drawable-xxhdpi/ic_launcher.png
/autopilot_test_gui/build/res/all/debug/layout/activity_main.xml
/autopilot_test_gui/build/res/all/debug/layout/main.xml
/autopilot_test_gui/build/res/all/debug/menu/main.xml
/autopilot_test_gui/build/res/all/debug/values/values.xml
/autopilot_test_gui/build/res/all/debug/xml/device_filter.xml
/autopilot_test_gui/build/res/all/release/drawable-hdpi/ic_launcher.png
/autopilot_test_gui/build/res/all/release/drawable-mdpi/ic_launcher.png
/autopilot_test_gui/build/res/all/release/drawable-xhdpi/ic_launcher.png
/autopilot_test_gui/build/res/all/release/drawable-xxhdpi/ic_launcher.png
/autopilot_test_gui/build/res/all/release/layout/activity_main.xml
/autopilot_test_gui/build/res/all/release/layout/main.xml
/autopilot_test_gui/build/res/all/release/menu/main.xml
/autopilot_test_gui/build/res/all/release/values/values.xml
/autopilot_test_gui/build/res/all/release/xml/device_filter.xml
/autopilot_test_gui/build/source/buildConfig/debug/asctec/android/driver/test/BuildConfig.java
/autopilot_test_gui/build/source/buildConfig/release/asctec/android/driver/test/BuildConfig.java
/autopilot_test_gui/build/source/r/debug/asctec/android/communication/serial/R.java
/autopilot_test_gui/build/source/r/debug/asctec/android/driver/test/R.java
/autopilot_test_gui/build/source/r/debug/autopilot/driver/R.java
/autopilot_test_gui/build/source/r/release/asctec/android/driver/test/R.java
/autopilot_test_gui/build/symbols/debug/R.txt
/autopilot_test_movement/build/incremental/aidl/debug/dependency.store
/autopilot_test_movement/build/incremental/aidl/debug/inputs.data
/autopilot_test_movement/build/incremental/aidl/debug/outputs.data
/autopilot_test_movement/build/incremental/aidl/release/dependency.store
/autopilot_test_movement/build/incremental/aidl/release/inputs.data
/autopilot_test_movement/build/incremental/aidl/release/outputs.data
/autopilot_test_movement/build/incremental/dex/debug/inputs.data
/autopilot_test_movement/build/incremental/dex/debug/outputs.data
/autopilot_test_movement/build/incremental/dex/release/inputs.data
/autopilot_test_movement/build/incremental/dex/release/outputs.data
/autopilot_test_movement/build/incremental/mergeAssets/debug/inputs.data
/autopilot_test_movement/build/incremental/mergeAssets/debug/merger.xml
/autopilot_test_movement/build/incremental/mergeAssets/debug/outputs.data
/autopilot_test_movement/build/incremental/mergeAssets/release/inputs.data
/autopilot_test_movement/build/incremental/mergeAssets/release/merger.xml
/autopilot_test_movement/build/incremental/mergeAssets/release/outputs.data
/autopilot_test_movement/build/incremental/mergeResources/debug/inputs.data
/autopilot_test_movement/build/incremental/mergeResources/debug/merger.xml
/autopilot_test_movement/build/incremental/mergeResources/debug/outputs.data
/autopilot_test_movement/build/incremental/mergeResources/release/inputs.data
/autopilot_test_movement/build/incremental/mergeResources/release/merger.xml
/autopilot_test_movement/build/incremental/mergeResources/release/outputs.data
/autopilot_test_movement/build/ivy.xml
/autopilot_test_movement/build/manifests/debug/AndroidManifest.xml
/autopilot_test_movement/build/manifests/release/AndroidManifest.xml
/autopilot_test_movement/build/res/all/debug/layout/main.xml
/autopilot_test_movement/build/res/all/debug/values/values.xml
/autopilot_test_movement/build/res/all/release/layout/main.xml
/autopilot_test_movement/build/res/all/release/values/values.xml
/autopilot_test_movement/build/source/buildConfig/debug/asctec/android/driver/test/BuildConfig.java
/autopilot_test_movement/build/source/buildConfig/release/asctec/android/driver/test/BuildConfig.java
/autopilot_test_movement/build/source/r/debug/asctec/android/driver/test/R.java
/autopilot_test_movement/build/source/r/release/asctec/android/driver/test/R.java
/.gradle/1.7/taskArtifacts/cache.properties
/.gradle/1.7/taskArtifacts/cache.properties.lock
/.gradle/1.7/taskArtifacts/fileHashes.bin
/.gradle/1.7/taskArtifacts/fileSnapshots.bin
/.gradle/1.7/taskArtifacts/outputFileStates.bin
/.gradle/1.7/taskArtifacts/taskArtifacts.bin
# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated files
bin/
gen/

# Local configuration file (sdk path, etc)
local.properties

# Eclipse project files
.classpath
.project
